include versioneer.py
include *.rst
include *.txt
recursive-include puq *.py
recursive-include puqutil *.py *.f90 *.h
recursive-include doc *.rst
recursive-include examples *
include doc/PUQ.pdf
include puq/_version.py
